<div class="home-body"> 
  
    <div class="container-fluid text-center"> 
     
      <h3>PRODUCTS</h3><br>
    
      <div class="row">
        <div class="col-sm-4 card">
          <img  src="assets/Product1.jpg" class="img-responsive" style="width:100%" alt="Image">
          <button type="submit" class="btn  btn-block btn-default ">ADD TO CART </button>     
        </div>
        <div class="col-sm-4"> 
          <img src="assets/Product3.jpg" class="img-responsive" style="width:100%" alt="Image">
          <button type="submit" class="btn  btn-block btn-default ">ADD TO CART </button>     
        </div>
         <div class="col-sm-4"> 
          <img src="assets/Product5.png" class="img-responsive" style="width:100%" alt="Image">
          <button type="submit" class="btn  btn-block btn-default ">ADD TO CART </button>     
        </div>
          <div class="col-sm-4">
          <img  src="assets/Product1.jpg" class="img-responsive" style="width:100%" alt="Image">
          <button type="submit" class="btn  btn-block btn-default ">ADD TO CART </button>     
        </div>
        <div class="col-sm-4"> 
          <img src="assets/Product3.jpg" class="img-responsive" style="width:100%" alt="Image">
          <button type="submit" class="btn  btn-block btn-default ">ADD TO CART </button>     
        </div>
         <div class="col-sm-4"> 
          <img src="assets/Product5.png" class="img-responsive" style="width:100%" alt="Image">
          <button type="submit" class="btn  btn-block btn-default ">ADD TO CART </button>     
        </div>
      </div>
    </div>
    <br>
</div>