.body {
    height: 100%;
    overflow-y: hidden;
 }
 h3 {
     margin-left: 8%;
 }
 .signup-container {
     margin-left: 5%;
     margin-top: 5%;
 }
 
 .signup-btn {
     margin-left: 75%;
 }
 .form-group {
      margin-bottom: 0px; 
 }
 .form-margin {
      margin-bottom: 10px; 	
 }
 
 .btn-login  {
     margin-top: 5%;
     width: 110px;
     margin-right: 20px;
 }
 
 .noaccount {
         margin-top: 5%;
 }
 
 .width-adjust {
      width: 60%;
 }
 
 .form-control {
     margin-right: 10px;
     align-items: center;
     display: block;
     width: 70%;
     }
 
 .margin-right {
     padding-left: 50px;
  }
 
 .btnblack{
     background-color: black;
     color: white;
 }
 
 .txtblack {
     color: black;
 }
 
 
 