<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink=''>
          <img src="assets/LOGO.png" width="75" height="25">
      </a>
    </div>
    <div>
        <ul class="nav navbar-nav">
          <li class=""><a routerLink='home'>HOME</a></li>
           <li><a routerLink='about-us'>ABOUT US</a></li>
          <li><a routerLink='products/items'>PRODUCTS</a></li>
          <li><a routerLink='login'>LOGIN/SIGNUP</a></li>
          <li><a routerLink='FAQs'>FAQs</a></li>
            </ul>
    </div>
    
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink='MyCart'><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
      <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
    </ul>
  </div>
</nav>