.navbar-inverse {
    background-color: #f0f0f0;
    border-color:#f0f0f0;
    	padding-top: 15px;
    padding-bottom: 15px;
}

navbar-inverse .navbar-nav>li>a {
    color: #191818;
    /* font-family: */
}

.glyphicon {
    font-size: 25px;
}

.navbar-inverse {
    padding-top: 7px;
    padding-bottom: 7px;
}