<div class="home-body"> 
      <h4>WELCOME USER!</h4>

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
   

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="assets/LOGO.png" alt="Image">     
          </div>
    
          <div class="item">
            <img src="assets/LOGO.png" alt="Image">   
          </div>
        </div>
    
        <!-- Left and right controls -->
        <a class="left carousel-control" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control"  role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
     <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>  
    
    </div>

  <div class="container-fluid text-center"> 
   
    <h3>NEW RELEASES</h3><br>
  
    <div class="row">
      <div class="col-sm-4">
        <img  src="assets/Product1.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p>ITEM 1</p>
      </div>
      <div class="col-sm-4"> 
        <img src="assets/Product3.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p>ITEM 2</p>    
      </div>
       <div class="col-sm-4"> 
        <img src="assets/Product5.png" class="img-responsive" style="width:100%" alt="Image">
        <p>ITEM 3</p>    
      </div>
    </div>
  </div><br>
  </div>