
.navbar-inverse {
    background-color: #0000;
    border-color:#0000;
    	padding-top: 15px;
    padding-bottom: 15px;
   
}
.navbar-inverse .navbar-nav>li>a {
    color: black; }

.navbar-inverse .navbar-nav>li>a:hover{
	color: red;
}


