<h3> MEMBER INFORMATION</h3>
<div class="row container-margin">
	<div class="col-sm-6 container-fluid ">	
	<form action="/action_page.php">	

		<div class="form-group col-sm-6">
	    	<label for="fname">Fist Name:</label>
	    	<input type="text" class="form-control" id="fname" placeholder="First Name">
		</div>
	  	<div class="form-group col-sm-6">
	   		<label for="mname">Middle Name:</label>
	    	<input type="text" class="form-control" id="mname" placeholder="Middle Name">
		</div>
		<div class="form-group col-sm-6">
			<label for="lname">Last Name:</label>
	    	<input type="text" class="form-control" id="lname" placeholder="Last Name">
		</div>
		<div class="form-group col-sm-6">
			<label for="suffix">Suffix (if applicable)</label>
	    	<input type="text" class="form-control" id="suffix" placeholder="Suffix">
		</div>
	  	<div class="form-group col-sm-12">
	    	<label for="adrs1">Address Line 1</label>
	    	<input type="text" class="form-control" id="adrs1" placeholder="Building Number, Street">
	 	</div>
	    <div class="form-group col-sm-12">
	    	<label for="adrs2">Address Line 2 (optional)</label>
	    	<input type="text" class="form-control" id="adrs2" placeholder="Building Number, Street">
	  	</div>
	   	<div class="form-group col-sm-6">
	    	<label for="brgy">Barangay:</label>
	    	<input type="text" class="form-control" id="brgy" placeholder="Barangay">
		</div>
		<div class="form-group col-sm-6">
			<label for="city">City:</label>
	    	<input type="text" class="form-control" id="city" placeholder="City">
		</div>
	  	<div class="form-group col-sm-6">
		    <label for="prov">Region/Province:</label>
		    <input type="text" class="form-control" id="prov" placeholder="Region/Province">
		</div>
		<div class="form-group col-sm-6">
			<label for="pcode">Postal Code</label>
		    <input type="text" class="form-control" id="pcode" placeholder="Postal Code">
		</div>
		<div class="form-group col-sm-12">
		    <label for="email">Email Address:</label>
		    <input type="password" class="form-control" id="email" placeholder="Email Address">
		</div>
		<div class="form-group col-sm-6">
	    	<label for="crtpasswd">Create a Password:</label>
	    	<input type="password" class="form-control" id="crtpasswd" placeholder="Password">
		</div>
		<div class="form-group col-sm-6">
			<label for="confpasswd">Confirm Password:</label>
		    <input type="password" class="form-control" id="confpasswd" placeholder="Password">
		</div>
		<div class="col-sm-12 btnbtm">
			<button type="submit" class="btn btn-default btnblack">Sign Up</button>
	  		<button type="submit" class="btn btn-default ">Cancel</button>
		</div>
	</form>
	</div>

	<div class="col-sm-6"> 
		<img src="assets/sample.jpg" style="width:60%">
	</div>
</div>