<h3> MEMBER INFORMATION</h3>
<div class="row signup-container">
<div class="col-sm-6 container-fluid ">	
<form action="/action_page.php">	

  <div class="form-group col-sm-6">
    <label for="fname">Fist Name:</label>
    <input type="text" class="form-control" id="fname">
</div>
<div class="form-group col-sm-6">
	<label for="fname">Fist Name:</label>
    <input type="text" class="form-control" id="fname">
</div>
  <div class="form-group col-sm-6">
    <label for="fname">Fist Name:</label>
    <input type="text" class="form-control" id="fname">
</div>
<div class="form-group col-sm-6">
	<label for="fname">Fist Name:</label>
    <input type="text" class="form-control" id="fname">
</div>
  <div class="form-group col-sm-12">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
    <div class="form-group col-sm-12">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
   <div class="form-group col-sm-6">
    <label for="fname">Fist Name:</label>
    <input type="text" class="form-control" id="fname">
</div>
<div class="form-group col-sm-6">
	<label for="fname">Fist Name:</label>
    <input type="text" class="form-control" id="fname">
</div>
  <div class="form-group col-sm-6">
    <label for="fname">Fist Name:</label>
    <input type="text" class="form-control" id="fname">
</div>
<div class="form-group col-sm-6">
	<label for="fname">Fist Name:</label>
    <input type="text" class="form-control" id="fname">
</div>
  <div class="form-group col-sm-12">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="form-group col-sm-6">
    <label for="fname">Fist Name:</label>
    <input type="text" class="form-control" id="fname">
</div>
<div class="form-group col-sm-6">
	<label for="fname">Fist Name:</label>
    <input type="text" class="form-control" id="fname">
</div>
<div class="signup-btn">
	<button type="submit" class="btn btn-default ">Submit</button>
  <button type="submit" class="btn btn-default ">Submit</button>
</div>
</form>

</div>
<div class="col-sm-6"> 
	<img src="assets/sample.jpg" style="width:60%">
</div>

</div>
