<div class="row container-fluid container-item">
    <a routerLink='../items'> <i class="exit glyphicon glyphicon-remove"></i>  </a>
     
     <div class="col-sm-6">
         <img  src="assets/Product1.jpg" class="img-responsive" style="width:100%" alt="Image">
     </div>
   
     <div class="col-sm-6">
       <form action="/action_page.php">
          <h2>DYNAMITE HOODIE</h2>
   
          <div class="col-sm-12  item-choices radio ">
             <h4>Size</h4>
             <label class="container">
               <input type="radio" name="radio">
               <span class="checkmark"> </span>
             </label>
             <label class="container">
               <input type="radio" name="radio">
               <span class="checkmark" ></span>
             </label>
          </div>
   
          
         <div class="col-sm-12  item-choices radio ">
           <h4>Color</h4>
           <label class="container">
             <input type="radio" name="radio">
             <span class="checkmark" id="color1"></span> 
           </label>
           <label class="container">
               <input type="radio" name="radio">
               <span class="checkmark" id="color2"></span>
           </label> 
         </div>
   
         <div class="col-sm-12 item-choices form-group">
           <h4>Quantity</h4>
           <input type="text" class="form-control" id="quantity">
         </div>
   
         <div>
           <button type="submit" class="btn  btn-login btn-default ">ADD TO CART</button>
         </div>
         
       </form>
     </div>
</div>