<div class="row home-body">
    <div class="container-fluid">
      <div class="col-sm-4 "> <img  src="assets/Product1.jpg" class="img-responsive resize-img" alt="Image"> </div>
      <div class="col-sm-8 adjust-margin">
         <h3> T-SHIRT</h3>
         <p>SIZE - LARGE</p>
         <P>COLOR BLACK</P>
         <P>1 X PHP 300</P> 
         <a class="float-right" href="">REMOVE</a> 
      </div>
    </div>
    <hr > 
  </div>
  
  <footer class="footer mt-auto py-3 bottom-buttons">
    <div class="container">
       <button type="submit" class="btn btn-default btnblack ">VIEW ORDER HISTORY</button>     
      <button type="submit" class="btn btn-default bottombtn btnblack">TRACK YOUR ORDER </button>     
      <button type="submit" class="btn btn-default btnblack" routerLink='../CheckOut'>PROCEED TO CHECKOUT</button>     
      <button type="submit" class="btn btn-default">CANCEL</button>     
    </div>
</footer>