<div class="row home-body container-fluid">
    <h3> FREQUENTLY ASKED QUESTION</h3>
  
    <div class="col-sm-6">
      <div class="col-sm-12">
        <p class = "question"> QUESTION</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse hendrerit convallis dapibus. Nullam vehicula magna nec blandit varius. Aliquam turpis mauris, dapibus a tincidunt eget, varius eget erat. In hac habitasse platea dictumst.</p>
      </div>
      <div class="col-sm-12">
        <p class = "question"> QUESTION</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse hendrerit convallis dapibus. Nullam vehicula magna nec blandit varius. Aliquam turpis mauris, dapibus a tincidunt eget, varius eget erat. In hac habitasse platea dictumst.</p>
      </div>
      <div class="col-sm-12">
        <p class = "question"> QUESTION</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse hendrerit convallis dapibus. Nullam vehicula magna nec blandit varius. Aliquam turpis mauris, dapibus a tincidunt eget, varius eget erat. In hac habitasse platea dictumst.</p>
      </div>
    </div>
  
    <div class="col-sm-6">
    <h4>GOT ANY MORE QUESTIONS?</h4>    
    <form action="/action_page.php">  
      <div class="form-group form-margin col-sm-12">
        <label for="fname">Name:</label>
        <input type="text" class="form-control" id="fname">
      </div>
      <div class="form-group col-sm-12">
        <label for="email">E-mail:</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group col-sm-12">
        <label for="message">Message/Concern</label>
        <input type="text" class="form-control" style= "height:150px;"id="message">
      </div>
      <div class="col-sm-12">
        <button type="submit" class="btn  btn-align btn-default">Cancel</button>
        <button type="submit" class="btn  btn-align btn-default btnblack ">Submit</button>
      </div>
    </form>
    </div>  
</div>