h3 {
	text-align: center;
}

 .home-body {
    margin-left: 10%;
    margin-right: 10%;
  }
.btn-align{
	float:right;
	margin-right: 25px;
}

.btnblack{
	background-color: black;
	color: white;
}

.question {
	  font-weight: bold;
	  font-size: 20px;
}